<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-7 col-xs-12">
                <div class="box">
                    <h3 class="box-title">1. Thông tin cá nhân</h3>

                    <form>

                        <div class="controls">

                            <div class="col-sm-9">
                                <div class="form-group">
                                    <label for="form_name">Họ tên *</label>
                                    <input id="form_name" type="text" name="title1" class="form-control"
                                        required="required" data-error="Name is required." >
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>


                            <div class="col-sm-9">
                                <div class="form-group">
                                    <form>
                                        <label for="form_email">Số điện thoại *</label>
                                        <input id="form_name" type="text" name="imageUrl1" class="form-control"
                                            required="required">
                                        <div class="help-block with-errors"></div>
                                    </form>
                                </div>
                            </div>


                            <div class="col-sm-9">
                                <div class="form-group">
                                    <label for="form_message">Email *</label>
                                    <input id="form_name" type="email" name="imageUrl1" class="form-control"
                                        required="required" >
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>


                            <div class="col-sm-9">
                                <div class="form-group">
                                    <label for="form_message">Ghi chú (tùy chọn) *</label>
                                    <input id="form_message" type="text" name="text1" class="form-control" rows="4"
                                        required="required" data-error="Please, leave us a content."
                                        >
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>

                        </div>

                        <h3 class="box-title">2. Thanh toán</h3>
                        <div class="radio radio-primary">
                                <input type="radio" name="radio1" id="radio1" value="option1" checked>
                                <label for="radio1">
                                    Trả sau (tiền mặt)
                                </label>
                            </div>
                            <div class="radio radio-primary">
                                <input type="radio" name="radio1" id="radio2" value="option2">
                                <label for="radio2">
                                    Thanh toán online
                                </label>
                                <input type="submit" class="btn btn-success btn-send"  value="+Add">

                            </div>
                        
                    </form>
                </div>
                <div style=" text-align:center;">
                    <a href="#" class="btn btn-primary btn-lg mb30">TIẾP TỤC</a>
                </div>
                <div style="text-align: center; padding-top: 50px;">
                    <span>Bấm TIẾP TỤC cũng có nghĩa là bạn đã đồng ý với<br><a href="/van-chuyen" target="_blank"
                            style="color: blue;">Chính sách Vận chuyển</a>
                        của Đi Chung Taxi</span>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-5 col-xs-12">

                <div class="widget">
                    <h4 class="widget-title">Tóm tắt đơn đặt xe</h4>
                    <div class="summary-block">
                        <div class="summary-content">
                            <div class="summary-head">
                                <h5 class="summary-title">Điểm đi:</h5>
                            </div>
                            <div class="summary-price">
                                <span class="pull-right">abc</span>
                            </div>

                            <div class="summary-head">
                                <h5 class="summary-title">Điểm đến:</h5>
                            </div>
                            <div class="summary-price">
                                <span class="pull-right">abc</span>
                            </div>
                            <hr>
                            <div class="summary-head">
                                <h5 class="summary-title">Thời gian bắt đầu:</h5>
                            </div>
                            <div class="summary-price">
                                <span class="pull-right">abc</span>
                            </div>
                            <div class="summary-head">
                                <h5 class="summary-title">Hình thức:</h5>
                            </div>
                            <div class="summary-price">
                                <span class="pull-right">abc</span>
                            </div>
                            <div class="summary-head">
                                <h5 class="summary-title">Loại xe:</h5>
                            </div>
                            <div class="summary-price">
                                <span class="pull-right">abc</span>
                            </div>
                            <hr>
                            <div class="summary-head">
                                <h5 class="summary-title">Thành tiền:</h5>
                            </div>
                            <div class="summary-price">
                                <p class="summary-text">29 ₫</p>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>

    </div>
</div>